

<p>
  <strong>Comment: </strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.topic, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>

<div class="addTag">
  <%= render partial: "tags/comment_form", locals: { comment: comment } %>
</div>
<div class="clear"></div>


