

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
<h2>Add a tag:</h2>
  <%= render partial: "tags/comment_form", locals: { comment: comment } %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.topic, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>
