/* line 2, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #060e21;
}

/* line 8, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav {
  padding: 20px;
  background: white;
  font-family: "Open Sans", sans-serif;
  color: white;
  height: 40px;
  background: #dfdfdd;
}
/* line 15, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav h1 {
  font-size: 2em;
  display: inline;
  float: left;
  font-family: "Inconsolata", sans-serif;
  border-radius: 6px;
  background: #97bbd3;
  background: -moz-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97bbd3), color-stop(50%, #6987cd), color-stop(51%, #5574cb), color-stop(100%, #4e74cc));
  background: -webkit-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -o-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -ms-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: linear-gradient(to bottom, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97bbd3', endColorstr='#4e74cc',GradientType=0 );
}
/* line 31, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav ul li {
  font-size: 1.1em;
  color: #043e83;
  position: relative;
  top: 12px;
  display: inline;
  margin-left: 3%;
}
/* line 38, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav ul li:nth-last-child(1) {
  float: right;
  margin-top: -1%;
  margin-right: 5%;
}
/* line 42, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav ul li:nth-child(1) {
  margin-left: 10%;
}
/* line 45, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
nav ul li a {
  text-decoration: none;
  color: #043e83;
}

/* line 49, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
.navlogo {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: -10px;
  margin-right: 5px;
}

/* line 56, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
h1 {
  font-size: 2em;
  font-family: "Inconsolata", sans-serif;
}

/* line 60, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
h4 {
  font-size: 1em;
  font-family: "Inconsolata", sans-serif;
  display: inline;
  margin-right: 10px;
}

/* line 66, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/index.css.sass */
.hello {
  margin: 20px;
}
/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/profile.css.sass */
.profile-left {
  float: left;
  margin-left: 10%;
  clear: right;
}

/* line 5, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/profile.css.sass */
.profile-right {
  float: right;
  margin-right: 10%;
}

/* line 8, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/profile.css.sass */
#profhead {
  text-align: center;
}
/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
body {
  line-height: 1;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 1, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 2, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/tag.css.sass */
table td {
  padding: 20px;
}
/* line 7, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.container {
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 13, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.left {
  width: 650px;
  float: left;
}

/* line 17, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.right {
  width: 300px;
  float: right;
}
/* line 20, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.right textarea {
  resize: none;
  width: 250px;
  height: 150px;
}
/* line 24, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.right input[type=text] {
  font-size: 1.25em;
  width: 250px;
  height: 30px;
}

/* line 30, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.login-signup input[type=text], .login-signup input[type=password] {
  font-size: 1.25em;
  width: 250px;
  height: 30px;
}

/* line 35, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic {
  background: #dfdfdd;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid white;
}
/* line 42, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic a {
  text-decoration: none;
  color: #00009c;
}
/* line 45, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic a:hover {
  color: #060e21;
}
/* line 47, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic p {
  font-size: 0.75em;
}
/* line 50, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic li a {
  color: #043e83;
}
/* line 52, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic li:nth-child(1) {
  font-size: 1.25em;
}
/* line 54, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topic li:nth-child(2) {
  font-size: 0.9em;
}

/* line 57, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
input[type=submit] {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 10px;
  border-radius: 6px;
  background: #97bbd3;
  background: -moz-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97bbd3), color-stop(50%, #6987cd), color-stop(51%, #5574cb), color-stop(100%, #4e74cc));
  background: -webkit-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -o-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: -ms-linear-gradient(top, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  background: linear-gradient(to bottom, #97bbd3 0%, #6987cd 50%, #5574cb 51%, #4e74cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97bbd3', endColorstr='#4e74cc',GradientType=0 );
}
/* line 71, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
input[type=submit]:focus {
  outline: 0;
}
/* line 73, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
input[type=text] {
  outline: 0;
}

/* line 76, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
textarea {
  outline: 0;
}

/* line 79, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.heart {
  font-size: 1.5em;
  width: 26px;
}
/* line 82, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.heart:hover {
  color: tomato;
  cursor: pointer;
}

/* line 87, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
input[type=text], input[type=password] {
  border-radius: 5px;
  border: 2px inset;
}

/* line 91, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
textarea {
  border-radius: 5px;
  border: 2px inset;
}

/* line 95, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.logo {
  font-size: 0.75em;
  padding-top: 50px;
  clear: both;
  text-align: center;
}
/* line 101, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.logo img {
  height: 200px;
  width: 200px;
}

/* line 105, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.taglist, .tag {
  display: inline-block;
}

/* line 108, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.addTag {
  float: right;
}

/* line 111, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.clear {
  clear: both;
  display: hidden;
}

/* line 115, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
input[type=submit].smallButton {
  font-size: 0.9em;
  padding: 2px;
}

/* line 119, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.subcomment {
  margin: 0px 0px 0px 30px;
}

/* line 122, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.action_bar {
  margin: 0px 0px 0px 15px;
}

/* line 125, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.actionlist {
  margin: 0px;
}

/* line 128, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.action {
  display: inline-block;
  margin: 0px 10px;
  font-size: 0.9em;
}

/* line 133, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topicShow {
  background: #dfdfdd;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid white;
}
/* line 140, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topicShow a {
  text-decoration: none;
  color: #00009c;
}
/* line 143, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topicShow a:hover {
  color: #060e21;
}

/* line 146, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.commentShow {
  background: #dfdfdd;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid white;
}
/* line 155, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.commentShow a {
  text-decoration: none;
  color: #00009c;
}
/* line 158, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.commentShow a:hover {
  color: #060e21;
}

/* line 161, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.topicBody {
  margin: 5px 0px 0px 0px;
  font-size: 1.2em;
}

/* line 165, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.commentBody {
  font-size: 1.1em;
}

/* line 168, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.posted {
  font-size: 0.8em;
  margin: 0px 0px 0px 25px;
}

/* line 172, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.pagination {
  font-family: "Inconsolata", sans-serif;
}
/* line 175, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.pagination em.current {
  outline: 2px solid #dfdfdd;
  border-radius: 3px;
}
/* line 178, /Users/stephenestrada/Projects/DBCWBC/phase-3/Med-Flow/app/assets/stylesheets/topic.css.sass */
.pagination a {
  color: black;
  background: #dfdfdd;
  padding: 3px;
  border-radius: 3px;
}

/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope. 



 */

@import 'reset';
@import 'index';
@import 'topic';
@import 'profile';
@import 'tag';


 /*Eric Meyer's Reset CSS v2.0 - http://cssreset.com */


/*body {
	background: #F6F9FF;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #060E21;
}

td {
	padding: 5px;
}

nav {
	padding: 20px;
	background: #0537A1;
	font-family: 'Open Sans', sans-serif;
	color: white;

}
nav h2{
	font-size: 2em;
	display: inline;
	float: left;
	font-family: 'Inconsolata', sans-serif;
}


nav ul li{
	font-size: 0.9em;
	position: relative;
	top: 12px;
	display: inline;
	margin-left: 20px;
}
h1 {
	font-size: 2em;
	font-family: 'Inconsolata', sans-serif;
}

h4{
	font-size: 1em;
	font-family: 'Inconsolata', sans-serif;
	display: inline;
	margin-right: 10px;
}

.container {
	width: 1000px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.left {
	width: 650px;
	float: left;
}
.right {
	width: 300px;
	float: right;

}

.right textarea{
	resize: none;
	width: 250px;
	height: 150px;
}

.right input[type=text], .login-signup input[type=text], .login-signup input[type=password]{
	font-size: 1.25em;
	width: 250px;
	height: 30px;
}

.topic {
	background: #C4E8FF;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
	padding:20px;
	border: 1px solid #FF2CEF;

}

.topic a {
	text-decoration: none;
	color: #00009C;
}

.topic a:hover{
	color: #060E21;
}
.topic p{
	font-size: 0.75em;
}

input[type=submit] {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding: 10px;
	border-radius: 6px;
	background: rgb(151,187,211);
background: -moz-linear-gradient(top,  rgba(151,187,211,1) 0%, rgba(105,135,205,1) 50%, rgba(85,116,203,1) 51%, rgba(78,116,204,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,187,211,1)), color-stop(50%,rgba(105,135,205,1)), color-stop(51%,rgba(85,116,203,1)), color-stop(100%,rgba(78,116,204,1)));
background: -webkit-linear-gradient(top,  rgba(151,187,211,1) 0%,rgba(105,135,205,1) 50%,rgba(85,116,203,1) 51%,rgba(78,116,204,1) 100%);
background: -o-linear-gradient(top,  rgba(151,187,211,1) 0%,rgba(105,135,205,1) 50%,rgba(85,116,203,1) 51%,rgba(78,116,204,1) 100%);
background: -ms-linear-gradient(top,  rgba(151,187,211,1) 0%,rgba(105,135,205,1) 50%,rgba(85,116,203,1) 51%,rgba(78,116,204,1) 100%);
background: linear-gradient(to bottom,  rgba(151,187,211,1) 0%,rgba(105,135,205,1) 50%,rgba(85,116,203,1) 51%,rgba(78,116,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97bbd3', endColorstr='#4e74cc',GradientType=0 );




input[type=submit]:focus, input[type=text], textarea {outline:0;}

.heart {
	font-size: 1.5em;
	width: 26px;
}

.heart:hover{
	color: tomato;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	border-radius: 5px;
	border:2px inset;
}

.logo {
	font-size: 0.75em;
	padding-top: 50px;
	clear: both;
	text-align: center;
}

.logo a, .logo a:visited{
	color: ;
}

.logo img {
	height: 200px;
	width: 200px;
}

.taglist {
	display: inline-block;
}

.tag {
	display: inline-block;
}

.addTag {
	float: right;
}

.clear {
	clear: both;
	display: hidden;
	}

input[type=submit].tagButton {
	font-size: 0.6em;
	padding: 3px;

}


}
*/
